<div style="margin: auto; margin-top: 200px; padding-top: 70px; width: 280px; height: 150px; background-color: rgb(211, 208, 208);">
  <div style="padding-bottom: 10px; width: 250px; margin: auto;">
    <label for="" style="padding-right: 40px;">User</label>
    <input type="text" [(ngModel)]="user.user">
  </div>
  <div style="padding-bottom: 10px; width: 250px; margin: auto;">
    <label for="" style="padding-right: 10px;">Password</label>
    <input type="password" [(ngModel)]="user.password">
  </div>
  <div style="text-align: right; width: 250px; margin: auto;">
    <button (click)="logIn()">Sign In</button>
  </div>
  <div style="margin: auto; padding:20px; color: red;">
    {{ mensaje }}
  </div>
</div>


